
@{
    ViewData["Title"] = "anasayfa";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}


Burası Anasayfa.Bu Sayfa @ViewBag.UserFullName tarafından oluşturuldu.
<head>

</head>
<body>
    

</body>
